/* banner */
.banner {
  width: 100vw;
  background-color: #000;
  overflow: hidden;
}
.video_p1 {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: 40%;
}

/* ol */
.ol {
  position: relative;
  /* relative給dd圖 */
}
.ol_grid {
  margin-top: 2vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, 1fr);
}
.ol_card {
  z-index: 2;
  display: flex;
  justify-content: center;
}
.ol_card:nth-child(n + 4):nth-child(-n + 6) {
  display: none;
}
.ol_card:hover img {
  transform: scale(1.1);
}
.ol_card:hover h4 {
  color: #8a0f3a;
  animation-name: cardh4;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes cardh4 {
  100% {
    color: #8a0f3a;
  }
}
.ol_card:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 8;
}
.ol_card:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 2 / 9;
}
.ol_card:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 3 / 10;
}
.ol_card_img {
  overflow: hidden;
  border-radius: 5%;
}
.ol_grid img {
  display: block;
  width: 18vw;
  border-radius: 5%;
  transition: 1s;
}
.ol_card hgroup {
  height: 20%;
  margin-top: 1vw;
  color: #c0b49c;
}
.ol_card h4 {
  color: #b59964;
  display: flex;
  justify-content: space-between;
}
.dd {
  position: absolute;
  margin-top: -6rem;
  left: 55vw;
}
.dd_p {
  width: 40%;
}
.wave {
  position: absolute;
  top: 30%;
  margin: auto;
}
.wave_p {
  width: 100%;
}

/* yl */
.yl .page_title {
  width: 100%;
}
.yl_col {
  display: flex;
  height: 60vh;
  margin-top: 2vw;
  padding: 0 3vw;
}
.video_yl {
  width: 30%;
}
.yl_container {
  width: 70%;
}
.video_yl video {
  height: 100%;
  border-radius: 3%;
}

.yl_step {
  height: 80%;
  padding: 0 3vw;
  overflow-y: auto;
}
::-webkit-scrollbar {
  display: none;
}
.yl_btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 3vh 5vw 0 0;
}

.wo_news {
  margin-top: 2vw;
  padding: 0 3vw;
  line-height: 2;
}
.wo_news_art {
  width: 100%;
  display: flex;
  border-bottom: 2px solid rgba(192, 180, 156, 0.6);
  border-width: 80%;
  padding-bottom: 5rem;
}
.wo_news_art2 {
  flex-direction: row-reverse;
  border-bottom: none;
  margin-top: 5rem;
}
.wo_news_art img {
  width: 40%;
  margin-right: 6vw;
}
.wo_news_art2 img {
  margin: 0 0 3vw 6vw;
}
.wo_news_art2 {
  text-align: right;
}
.wo_news_art h3 {
  color: #b59964;
}
.wo_news_art h4 {
  padding-top: 2vw;
}

.wo_btn {
  display: flex;
}
.wo_news_art2 .wo_btn {
  justify-content: flex-end;
}

.rt {
  padding: 4vw 0;
  background-image: url(./album/other/bgi_stone.jpg);
  width: 100%;
}
.rt_row {
  margin: auto;
  width: 80%;
}
.rt_form section {
  display: flex;
  justify-content: space-around;
}
.rt_sub {
  text-align: end;
}
.rt_form input {
  display: inline-block;
  width: 25%;
  height: 4rem;
  margin-top: 3rem;
  line-height: 2.5rem;
  font-size: 2vw;
  color: #b59964;
  border: #b59964 solid 1px;
  text-align: center;
  background-color: #24232b;
}
.rt_form select {
  display: inline-block;
  width: 25%;
  height: 4rem;
  margin-top: 3rem;
  font-size: 2vw;
  color: #b59964;
  border: #b59964 solid 1px;
  text-align: center;
  background-color: #24232b;
}
.rt_sub {
  margin-top: 1rem;
}
.rt_sub input {
  width: 20%;
}
.map {
  width: 100%;
  margin-top: 9vw;
}
