* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #24232b;
}

/* 字體 */
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, generic-family;
  line-height: 1.3;
  color: #c0b49c;
}
a {
  text-decoration: none;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
}
p {
  font-size: 2rem;
}

/* 字體 */
/* 影片 */
video {
  pointer-events: none;
}
video::-webkit-media-controls-enclosure {
  display: none;
}
/* 影片 */
/* 照片 */
img {
  border-radius: 3%;
}
/* 照片 */
/* input */
input {
  -webkit-appearance: none; /* Safari & Chrome*/
  -moz-appearance: none; /* FireFox */
  appearance: none;
}
/* input */
.header {
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.5vw 10vw;
  position: fixed;
  z-index: 9999;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  /* width: 100%; */
}
.logo {
  display: flex;
  align-items: center;
}
h1 {
  height: 5vw;
  background: url(./album/other/Logo.png) no-repeat;
  background-size: contain;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.main-nav {
  align-items: center;
}
.main-nav a {
  font-size: 2.5rem;
  margin-left: 3.5rem;
  color: #b59964;

  position: relative;
}
.main-nav a img {
  width: 2.5rem;
  transition: 0.3s;
  border-radius: 0;
}
.main-nav a:hover {
  color: #8a0f3a;
}
.main-nav a img:hover {
  transform: scale(1.15);
}
.main-nav li:nth-child(6),
.main-nav li:nth-child(7) {
  display: none;
}
.main-nav li:nth-child(n):nth-child(-n + 3) a::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0px;
  left: 0;
  bottom: -0.5rem;
  background: #8a0f3a;
  transition: all 0.5s ease;
}

.main-nav li:nth-child(n):nth-child(-n + 3) a:hover:before {
  width: 100%;
}

#menu-switch {
  display: none;
}

.au {
  margin: auto;
  position: relative;
}
.au_imf {
  margin-top: 3vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 5vw;
  background: url(./album/other/footer.png);
  background-repeat: no-repeat;
  background-position: 70% bottom;
  background-size: contain;
}
.au_imf_txt {
  width: 25%;
  margin: 0 3%;
  z-index: 2;
}
.au_imf_txt h4 {
  margin-bottom: 2vw;
}
.au_sm img {
  margin-top: 1vw;
  width: 70%;
}
.au_imf input {
  background-color: #24232b;
  color: #c0b49c;
  border: #b59964 1px solid;
  font-size: 2.5em;
  display: block;
  margin-bottom: 1vw;
}
.au_imf .submit {
  color: #24232b;
  font-size: 2rem;
}
.au_email {
  width: 90%;
  height: 4rem;
  line-height: 2.5rem;
}

/* 按鈕 */
.ybtn {
  color: #24232b;
  background: linear-gradient(to bottom, #d1bf9f 20%, #b59964 60%);
  border: #b59964 solid 2px;
  border-radius: 5rem;
  font-size: 2.5rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 1vw #555;
  font-weight: normal;
}
.ybtn:hover {
  color: #24232b;
  background-color: #b59964;
}
.submit:hover {
  box-shadow: 0 0 1vw #888;
}
.pbtn {
  color: #8a0f3a;
  border: #8a0f3a solid 2px;
  border-radius: 5rem;
  font-size: 2.5rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 1vw #333;
}
.pbtn:hover {
  color: #24232b;
  background: linear-gradient(to bottom, #d00049 0%, #8a0f3a 70%);
  box-shadow: 0 0 1vw #555;
}

/* 頁面控制 */
.page_container {
  width: 80vw;
  margin: auto;
  margin-top: 6rem;
}

/* 液體按鈕 */
.btn_lq {
  position: relative;
  padding: 16px 24px;
  text-transform: uppercase;
  width: 200px;
  overflow: hidden;
  border-radius: 40px;
  text-align: center;
  margin-top: 2vh;
}

.btn_lq span {
  display: block;
  position: relative;
  color: #b59964;
  font-size: 2rem;
  letter-spacing: 2px;
  z-index: 1;
  line-height: 2rem;
}

.btn_lq .liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 200px;
  height: 200px;
  background: linear-gradient(to bottom, #d00049 0%, #8a0f3a 70%);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.btn_lq .liquid::after,
.btn_lq .liquid::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #8a0f3a;
}

.btn_lq .liquid::before {
  border-radius: 45%;
  background: rgba(36, 35, 43, 1);
  animation: animate 5s linear infinite;
}

.btn_lq .liquid::after {
  border-radius: 40%;
  background: rgba(36, 35, 43, 0.5);
  animation: animate 10s linear infinite;
}

.btn_lq:hover .liquid {
  top: -120px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

/* sm */
@media screen and (max-width: 767px) {
  html {
    font-size: 50%;
  }
  .logo {
    height: 7rem;
  }
  .logo a {
    height: 100%;
  }
  h1 {
    height: 100%;
  }
  .hb {
    width: 4rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    /* margin-top: 10px; */
  }
  .hb span {
    display: block;
    width: 4rem;
    height: 2px;
    margin: 2rem auto 0;
    background-color: #b59964;
  }
  .main-nav {
    position: absolute;
    background-color: rgba(15, 15, 15, 0.9);
    width: 100%;
    left: -100%;
    top: 100%;
    opacity: 0;
    transition: opacity 0.3s 0s, left 0s 0.3s;
    margin: 0;
  }
  .main-nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
  }
  .main-nav a:hover {
    color: #b59964;
  }
  .main-nav li:nth-child(n):nth-child(-n + 3) a::before {
    display: none;
  }
  .hb span:nth-child(1) {
    position: absolute;
    left: 0;
    right: 0;
    top: 2rem;
    margin: auto;
    transform: rotate(0deg);
    transition: top 0.2s 0.2s, transform 0.2s 0s;
  }
  .hb span:nth-child(2) {
    position: absolute;
    left: 0;
    right: 0;
    top: 2rem;
    bottom: 0;
    margin: auto;
    transition: top 0.2s 0.2s, transform 0.2s 0s;
  }
  .hb span:nth-child(3) {
    position: absolute;
    left: 0;
    right: 0;
    top: 5rem;
    margin: auto;
    transform: rotate(0deg);
    transition: top 0.2s 0.2s, transform 0.2s 0s;
  }
  #menu-switch:checked + .header .main-nav {
    left: 0;
    opacity: 0.9;
    transition: opacity 0.2s;
  }
  #menu-switch:checked + .header .hb span:nth-child(2) {
    opacity: 0;
    transition: opacity 0.2s;
  }
  #menu-switch:checked + .header .hb span:nth-child(1) {
    top: 3rem;
    transform: rotate(45deg);
    transition: top 0.2s 0s, transform 0.2s 0.2s;
  }
  #menu-switch:checked + .header .hb span:nth-child(3) {
    top: 3rem;
    transform: rotate(-45deg);
    transition: top 0.2s 0s, transform 0.2s 0.2s;
  }

  .main-nav li:nth-child(4),
  .main-nav li:nth-child(5) {
    display: none;
  }
  .main-nav li:nth-child(6),
  .main-nav li:nth-child(7) {
    display: block;
  }

  .main-nav li {
    position: relative;
  }
  .main-nav li:hover {
    text-decoration: none;
  }
  .main-nav li:nth-child(n):nth-child(-n + 6)::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid rgba(192, 180, 156, 0.4);
    width: 80%;
    margin-left: 10%;
  }
  .au {
    margin-bottom: 5rem;
  }
  .au_imf {
    display: block;
  }
  .au_imf_txt {
    width: 100%;
    position: relative;
  }

  .au_imf_txt input {
    margin-top: 2rem;
  }
  .au_imf_txt:nth-child(1)::after,
  .au_imf_txt:nth-child(2)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgba(192, 180, 156, 0.4);
    bottom: -20px;
  }
  .au_imf_txt:nth-child(2),
  .au_imf_txt:nth-child(3) {
    margin-top: 41px;
  }
  .au_sm {
    margin-top: 10px;
  }
  .au_sm img {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .hb {
    display: none;
  }
  .main-nav {
    display: flex;
    position: relative;
    width: fit-content;
    background-color: transparent;
  }
}

@media screen and (max-width: 1025px) {
  .logo {
    height: 7rem;
  }
  .logo a {
    height: 100%;
  }
  h1 {
    height: 100%;
  }
  .main-nav a {
    font-size: 2rem;
  }

  .au {
    margin-bottom: 5rem;
  }
  .au_imf {
    display: block;
  }
  .au_imf_txt {
    width: 100%;
    position: relative;
  }

  .au_imf_txt input {
    margin-top: 2rem;
  }
  .au_imf_txt:nth-child(1)::after,
  .au_imf_txt:nth-child(2)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgba(192, 180, 156, 0.4);
    bottom: -20px;
  }
  .au_imf_txt:nth-child(2),
  .au_imf_txt:nth-child(3) {
    margin-top: 41px;
  }
  .au_sm {
    margin-top: 10px;
  }
  .au_sm img {
    width: 25%;
  }
}

/* 淡入 */
.slideIn {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-50px);
}
.active {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0px);
  transition: 2s ease-in-out;
}
