body {
  background-color: #24232b;
}
/* 字體統整 */
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, generic-family;
  line-height: 1.3;
}
a {
  text-decoration: none;
}
.main-nav li a {
  font-size: 1.8vw;
  text-decoration: none;
  color: #b59964;
}
.page_title {
  margin-top: 3vw;
  color: #c0b49c;
}
h2 {
  font-size: 4vw;
}
.page_title_note {
  font-size: 1.8vw;
}
.ol_card_desc_txt {
  color: #c0b49c;
  font-size: 1vw;
}
.ol_card_desc_title {
  color: #b59964;
  font-size: 1.8vw;
  display: flex;
  justify-content: space-between;
  width: 85%;
}
h3 {
  color: #c0b49c;
  font-size: 2.4vw;
  font-weight: bold;
}
p {
  color: #c0b49c;
  font-size: 1.6vw;
}
h4 {
  color: #c0b49c;
  font-size: 2vw;
}
/* 字體統整 */
/* 影片控制 */
video {
  pointer-events: none;
}
video::-webkit-media-controls-enclosure {
  display: none;
}
/* 影片控制 */
/* 照片控制 */
img {
  border-radius: 3%;
}
/* 照片控制 */
.header {
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.5vw 10vw;
  position: fixed;
  z-index: 9999;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
h1 {
  align-items: center;
}
.logo img {
  width: 45%;
}
.main-nav {
  margin: 0.5vw 0px;
  align-items: center;
}
.main-nav li img {
  width: 2.5vw;
}
.main-nav li a {
  margin-left: 4vw;
}
.main-nav a:hover {
  color: #6f4444;
}
.main-nav li img:hover {
  transform: scale(1.1);
}
#menu-switch {
  display: none;
}

@media screen and (max-width: 767px) {
  .hb {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin-top: 10px;
  }
  .hb span {
    display: block;
    width: 30px;
    height: 2px;
    margin: 8px auto 0;
    background-color: #b59964;
  }
  .main-nav {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    left: -100%;
    top: 100%;
    opacity: 0;
    transition: opacity 0.3s 0s, left 0s 0.3s;
    margin: 0;
  }
  .main-nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
  }
  .hb span:nth-child(1) {
    position: absolute;
    left: 0;
    right: 0;
    top: 7px;
    margin: auto;
    transform: rotate(0deg);
    transition: top 0.2s 0.2s, transform 0.2s 0s;
  }
  .hb span:nth-child(2) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: top 0.2s 0.2s, transform 0.2s 0s;
  }
  .hb span:nth-child(3) {
    position: absolute;
    left: 0;
    right: 0;
    top: 31px;
    margin: auto;
    transform: rotate(0deg);
    transition: top 0.2s 0.2s, transform 0.2s 0s;
  }
  #menu-switch:checked + .header .main-nav {
    left: 0;
    opacity: 0.9;
    transition: opacity 0.2s;
  }
  #menu-switch:checked + .header .hb span:nth-child(2) {
    opacity: 0;
    transition: opacity 0.2s;
  }
  #menu-switch:checked + .header .hb span:nth-child(1) {
    top: 19px;
    transform: rotate(45deg);
    transition: top 0.2s 0s, transform 0.2s 0.2s;
  }
  #menu-switch:checked + .header .hb span:nth-child(3) {
    top: 19px;
    transform: rotate(-45deg);
    transition: top 0.2s 0s, transform 0.2s 0.2s;
  }
}
@media screen and (min-width: 768px) {
  .hb {
    display: none;
  }
  .main-nav {
    display: flex;
    position: relative;
    width: fit-content;
    background-color: transparent;
  }
}

.au {
  margin: auto;
  width: 80%;
  position: relative;
  margin-bottom: 5vw;
}
.au_imf {
  margin-top: 3vw;
}
.au_grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}
.au_grid11 {
  grid-area: 1/2/2/1;
}
.au_grid12 {
  grid-area: 2/2/3/1;
}
.au_grid13 {
  grid-area: 3/2/4/1;
}
.au_grid14 {
  grid-area: 4/2/5/1;
}
.au_grid14 img {
  width: 60%;
}
.au_grid21 {
  grid-area: 1/3/2/2;
}
.au_grid22 {
  grid-area: 2/3/3/2;
}
.au_grid23 {
  grid-area: 3/3/4/2;
  z-index: 2;
}
.au_grid23 input {
  height: 60%;
  width: 80%;
}
.au_grid24 {
  grid-area: 4/3/5/2;
  z-index: 2;
}
.au_btn {
  margin-top: 1vw;
}
.au_btn_ss {
  color: #b59964;
  border: #b59964 solid 1px;
  border-radius: 5%;
  font-size: 2vw;
  padding: 0.5vw 1vw;
}
.au_grid31 {
  grid-area: 1/4/2/3;
  z-index: 2;
}
.au_grid32 {
  grid-area: 2/4/3/3;
  z-index: 2;
}
.au_grid33 {
  grid-area: 3/4/4/3;
  z-index: 2;
}
.au_footer img {
  width: 25%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.subscribe {
  color: #b59964;
  border: #b59964 solid 1px;
  background-color: #24232b;
  font-size: 2vw;
  padding: 0.5vw 1vw;
}
.subscribe:hover {
  background-color: #b59964;
  color: #24232b;
}
