@media screen and (max-width: 768px) {
  .ol_grid {
    display: block;
    width: 100%;
    height: auto;
  }
  .ol_grid_img {
    width: 40vw;
    height: 60vh;
  }
  .wo_news_art {
    display: block;
  }
  .wo_news_art img {
    width: 90%;
  }
  .au_imf {
    display: block;
  }
  .au_imf_txt {
    width: 100%;
  }
  .au_sm img {
    width: 30%;
  }
}
